In [1]:
from tools.utils import *
import pandas
df = query_ghi(-161.207778, 55.999722)

In [2]:
df.head()

   Year  Month  Day  Hour  Minute  GHI
0  2015      1    1     0      30   57
1  2015      1    1     1      30   23
2  2015      1    1     2      30    0
3  2015      1    1     3      30    0
4  2015      1    1     4      30    0

In [8]:
for _, row in df.head().iterrows():
    [num_day, num_hours, radiation] = [
                    int(row['Day']),
                    int(row['Hour']),
                    float(row['GHI']),
                ]
    print(num_day, num_hours, radiation)

1 0 57.0
1 1 23.0
1 2 0.0
1 3 0.0
1 4 0.0